<form action="/create" method="POST">
  <h2>Create user</h2>

  <div class="input-field">
    <p>Username:</p>
    <input type="text" name="name">
  </div>
  <div class="input-field">
    <p>eMail:</p>
    <input type="text" name="email">
  </div>

  <button type="submit" class="btn">Create</button>
</form>
